@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ChaBorz'un gelişi</h1>
    <p>Dinleyin ulan develer <a href="https://learn.microsoft.com/aspnet/core">Kafirlerin başına bela olmaya geliyorum</a>.</p>
</div>
